@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy Light"), local("Gilroy-Light"), url(../fonts/gilroylight.woff2) format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url(../fonts/gilroyextrabold.woff2) format("woff2");
}

/* GLOBAL */
body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }
/* END GLOBAL */

/* MISC */
.d-flex {
  display: flex;
}

.container {
  width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn {
  position: relative;
  padding: 8px 44px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  background: none;
  border: none;

  z-index: 0;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}

.btn:focus,
.btn:hover {
  background-color: #f0c52e;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
}

/* .btn:focus::before,
.btn:hover::before,
.btn:active::before {
  display: none;
} */

/* END MISC */

/* HEADER */
.main-header__nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 17px;
  padding-right: 60px;
  padding-bottom: 46px;
  padding-left: 60px;

  color: #000000;
  background-color: rgba(240, 197, 46, 0.5);
  z-index: 0;
}

.main-header__nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;

  background-color: #ffffff;
  z-index: -1;
}

.nav-main__logo {
  width: 100%;
  margin-bottom: 20px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  text-transform: uppercase;
  color: #000000;

  cursor: default;
}

.nav-main__logo[href] {
  cursor: pointer;
}

.nav-main__logo[href]:focus,
.nav-main__logo[href]:hover {
  opacity: 0.6;
}

.nav-main__logo[href]:active {
  opacity: 0.3;
}

.nav-main__search {
  width: 440px;
  margin-bottom: 35px;
}

.form-search__input {
  width: 340px;

  color: #000000;

  background: none;
  border: none;
}

.form-search__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form-search__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form-search__input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form-search__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-search__input:focus::-webkit-input-placeholder,
.form-search__input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.form-search__input:focus::-moz-placeholder,
.form-search__input:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.form-search__input:focus:-moz-placeholder,
.form-search__input:hover:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.form-search__input:focus:-ms-input-placeholder,
.form-search__input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-search__btn {
  border: 2px solid #000000;
  background: none;

  cursor: pointer;
}
.form-search__input:not([value=""]),
.form-search__input:focus {
  border-bottom: 2px solid #000000;
}

.form-search__btn:focus,
.form-search__btn:hover {
  background-color: #000000;
  color: rgba(255, 255, 255, 1);
}

.form-search__btn:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.nav-main__user-nav {
  display: flex;
  width: 500px;
  margin-top: 0;
  margin-bottom: 35px;
  margin-left: 100px;
  padding: 0;
}

.nav-main__user-nav,
.nav-main__site-nav,
.item-dropdown__list {
  list-style: none;
}

.user-nav-main__item + .user-nav-main__item {
  margin-left: 20px;
}

.nav-main__user-nav > .user-nav-main__item--compare {
  margin-left: auto;
}

.user-nav-main__link,
.site-nav-main__link,
.list-dropdown__link {
  color: rgba(0, 0, 0, 1);
}

.user-nav-main__link--logout {
  color: rgba(0, 0, 0, 0.3);
}

.nav-main__site-nav,
.item-dropdown__list {
  margin: 0;
  padding: 0;
}

.nav-main__site-nav {
  display: flex;
  width: 100%;
}

.site-nav-main__item {
  margin-left: 40px;
}

.site-nav-main__item:first-child {
  width: 240px;
  margin-right: 260px;
  margin-left: 0;
}
.site-nav-main__item:last-child {
  margin-left: auto;
}

.site-nav-main__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.list-dropdown__link {
  line-height: 36px;
}

.user-nav-main__link:focus,
.user-nav-main__link:hover,
.site-nav-main__link:focus,
.site-nav-main__link:hover,
.list-dropdown__link:focus,
.list-dropdown__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav-main__link:active,
.site-nav-main__link:active,
.list-dropdown__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-dropdown {
  position: relative;
}

.item-dropdown__container {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

  background-color: #f7e296;
}

.item-dropdown:hover > .item-dropdown__container {
  top: 24px;
  left: -60px;
  clip: unset;
  width: 1160px;
  height: auto;
  margin: 0;
  padding-right: 60px;
  padding-bottom: 24px;
  padding-left: 60px;
}

.item-dropdown__list {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.item-dropdown__list::before,
.item-dropdown__list::after {
  content: "";
  width: 100%;
  order: 1;
}

.list-dropdown__item + .list-dropdown__item {
  margin-left: 40px;
}

.list-dropdown__item:first-child,
.list-dropdown__item:nth-child(2n+4) {
  width: 200px;
  margin-left: 0;
}

.list-dropdown__item:nth-child(3),
.list-dropdown__item:nth-child(3n+2) {
  width: 160px;
}

.list-dropdown__item:nth-child(n+4) {
  order: 1;
}

.list-dropdown__item:nth-child(n+6) {
  order: 2;
}

/* END HEADER */

/* MAIN */
.promo-slider__list,
.promo-slider__controls,
.catalog-sections__list,
.services__controls,
.services__list,
.brands__list {
  list-style: none;
}

.promo-slider {
  margin-bottom: 95px;
  position: relative;
}

.promo-slider__list {
  margin: 0;
  padding: 0;
  position: relative;
}

.promo-slider__list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 113px;

  background-color: rgba(240, 197, 46, 0.5);

  z-index: -10;
}

.promo-slider__item {
  display: flex;
  position: relative;
}

.promo-slider__input--1:not(:checked) ~ .promo-slider__list .promo-slider__item--1,
.promo-slider__input--2:not(:checked) ~ .promo-slider__list .promo-slider__item--2,
.promo-slider__input--3:not(:checked) ~ .promo-slider__list .promo-slider__item--3 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.item-slider__pic {
  display: flex;
  width: 600px;
  justify-content: center;
  align-items: center;
}

.item-slider__info {
  width: 560px;
  padding-top: 80px;
}


.item-slider__lead {
  display: inline-block;
  margin-bottom: 20px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  color: #000000;
}

.item-slider__desc {
  margin-bottom: 35px;
}

.item-slider__props {
  margin-top: 50px;
}

.item-slider__props tbody {
  display: flex;
  flex-direction: column;
}

.item-slider__props tr:first-child {
  order: 1;
}

.props-slider__title,
.props-slider__value {
  width: 160px;
}

.props-slider__title {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.props-slider__value {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  color: #000000;
}

.promo-slider__controls {
  position: absolute;
  bottom: 160px;
  right: 80px;
  display: flex;
}

.controls-slider__item + .controls-slider__item {
  margin-left: 21px;
}

.controls-slider__dot {
  display: inline-block;
  width: 12px;
  height: 12px;

  background-image: url("../img/slider-button-empty.svg");
  background-size: contain;
  cursor: pointer;
}

.promo-slider__input--1:checked ~ .promo-slider__controls .controls-slider__dot--1,
.promo-slider__input--2:checked ~ .promo-slider__controls .controls-slider__dot--2,
.promo-slider__input--3:checked ~ .promo-slider__controls .controls-slider__dot--3 {
  background-image: url("../img/slider-button.svg");
}

.catalog-sections {
  margin-bottom: 70px;
}

.catalog-sections__list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.catalog-sections__item {
  flex-basis: 160px;
}

.item-sections__pic-wrapper {
  display: flex;
  width: 160px;
  height: 160px;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 197, 46, 0.5);
}

.item-sections__pic--bottom {
  align-self: flex-end;
}

.item-sections__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
}

.item-sections__link:focus .item-sections__pic-wrapper,
.item-sections__link:hover .item-sections__pic-wrapper,
.item-sections__link:active .item-sections__pic-wrapper {
  background-color: rgba(240, 197, 46, 1);
}

.item-sections__link:active .item-sections__pic,
.item-sections__link:active .item-sections__title {
  opacity: 0.3;
}

.services {
  position: relative;
  min-width: 1200px;
  min-height: 388px;
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: #e5e5e5;
}

.services::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;

  background-color: #ffffff;
  z-index: 10;
}

.services__controls {
  width: 277px;
  margin-top: -100px;
  margin-right: auto;
  margin-bottom: 0;
  padding: 80px 0 50px;
  z-index: 20;

  border-right: 7px solid #000000;
}

.services__list {
  width: 756px;
  margin-top: -100px;
  padding-top: 70px;
  padding-left: 0;
  z-index: 20;
}

.controls-services__item {
  margin-bottom: 24px;
}

.controls-services__label {
  display: inline-flex;
  padding: 8px 25px;
}

.services__input--delivery:checked ~ .services__controls .controls-services__item--delivery .controls-services__label,
.services__input--warranty:checked ~ .services__controls .controls-services__item--warranty .controls-services__label,
.services__input--credit:checked ~ .services__controls .controls-services__item--credit .controls-services__label,
.controls-services__label:active {
  display: flex;
  color: #f7e184;
  background-color: #000000;
}

.services__input--delivery:checked ~ .services__controls .controls-services__item--delivery .controls-services__label::before,
.services__input--warranty:checked ~ .services__controls .controls-services__item--warranty .controls-services__label::before,
.services__input--credit:checked ~ .services__controls .controls-services__item--credit .controls-services__label::before,
.controls-services__label:active::before {
  display: none;
}

.services__input--delivery:not(:checked) ~ .services__list .services__item--delivery,
.services__input--warranty:not(:checked) ~ .services__list .services__item--warranty,
.services__input--credit:not(:checked) ~ .services__list .services__item--credit {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.item-services__title,
.about__title,
.contacts__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  color: #000000;
}

.item-services__title {
  margin-top: 10px;
  margin-bottom: 30px;
}

.item-services__desc {
  padding-right: 300px;
}

.brands__list {
  display: flex;
  margin: 94px 0;
  padding: 0;
  justify-content: space-between;
}

.item-brands__link {
  position: relative;
  display: inline-block;
}

.item-brands__pic {
  opacity: 0;
}

.item-brands__pic--grayscaled {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.item-brands__link:focus .item-brands__pic--grayscaled,
.item-brands__link:hover .item-brands__pic--grayscaled {
  opacity: 0;
}

.item-brands__link:focus .item-brands__pic--colored,
.item-brands__link:hover .item-brands__pic--colored {
  opacity: 1;
}

.about {
  width: 500px;
}

.about__info,
.contacts__info {
  margin-top: 0;
  margin-bottom: 30px;
}
.about__delivery {
  margin: 70px 0 62px;
  padding: 0;
  list-style: none;
}

.delivery-list__item {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  color: #000000;
}

.contacts {
  width: 560px;
  margin-left: auto;
}

.contacts__map {
  margin-top: 40px;
  margin-bottom: 70px;
}

.about,
.contacts {
  margin-bottom: 80px;
}

.page-main__heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  color: #000000;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs__item {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link {
  color: inherit;
}

.breadcrumbs__link:focus,
.breadcrumbs__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-filter {
  background-color: #eeeeee;
}

.catalog-filter__title,
.catalog-sort__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}

.catalog-filter__title {
  background-color: #dcdcdc;
}

.form-filter__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
}

.form-filter__range {
  position: relative;
  width: 195px;
  height: 2px;
  background-color: #dbdbdb;
}

.range-slider__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 2px;
  background-color: #91c92f;
}

.range-slider__handle {
  position: absolute;
  top: -11px;
  left: 0;
  width: 20px;
  height: 23px;

  border: none;
  background: none;
  background-image: url("../img/filter-button.svg");

  cursor: pointer;
}

.range-slider__handle--from {
  left: -10px;
}

.range-slider__handle--to {
  left: 100px;
}

.range-val__input,
.range-val__label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 0;
  color: rgba(0, 0, 0, 0.2);
}

.range-val__input {
  background: none;
  border: none;
}

.checkbox-filter__label,
.radio-filter__label {
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

.checkbox-filter__input:disabled + .checkbox-filter__label,
.radio-filter__input:disabled + .radio-filter__label {
  color: #a6a6a6;
}

.catalog-sort {
  background-color: #ebebeb;
}

.catalog-sort__list,
.catalog-sort__order {
  list-style: none;
}

.list-sort__link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.3);
}

.list-sort__link--active {
  color: rgba(0, 0, 0, 1);
}

.list-sort__link:focus,
.list-sort__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.list-sort__link:active {
  color: rgba(0, 0, 0, 1);
}

.catalog {
  background-color: #ffffff;
}

.catalog__list {
  list-style: none;
}

.item-catalog__pic {
  position: relative;
}

.item-catalog__label {
  padding: 12px 6px; /* TMP */

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;

  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.item-catalog__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
}

.item-catalog__price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #464646;
}

.item-catalog__controls {
  background-color: rgba(238, 238, 238, 0.7)
}

.item-catalog__compare {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
}

.item-catalog__compare:focus,
.item-catalog__compare:hover {
  color: rgba(0, 0, 0, 1);
}

.item-catalog__compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog__pagination {
  background-color: #ebebeb;
}

.page-nav__list {
  list-style: none;
}

.page-nav__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.page-nav__link:focus,
.page-nav__link:hover{
  color: rgba(0, 0, 0, 0.6);
}

.page-nav__link:active{
  color: rgba(0, 0, 0, 0.6);
}

.page-nav__link--prev,
.page-nav__link--next,
.page-nav__link--active {
  color: rgba(0, 0, 0, 1);
}

.page-nav__link--prev:focus,
.page-nav__link--prev:hover,
.page-nav__link--next:focus,
.page-nav__link--next:hover {
  color: rgba(0, 0, 0, 1);
  background-color: #d9d9d9;
}

.page-nav__link--prev:active,
.page-nav__link--next:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}

.page-nav__link--active:focus,
.page-nav__link--active:hover {
  color: rgba(0, 0, 0, 1);
}

/* END MAIN */

/* FOOTER */
.main-footer {
  padding: 60px 0;

  color: #ffffff;
  background-color: #464646;
}

.main-footer__top,
.main-footer__middle,
.main-footer__bottom {
  display: flex;
  align-items: center;
}

.main-footer__top {
  margin-bottom: 30px;
}

.main-footer__logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  text-transform: uppercase;
  color: #ffc600;

  cursor: default;
}

.main-footer__logo[href] {
  cursor: pointer;
}

.main-footer__logo[href]:focus,
.main-footer__logo[href]:hover {
  opacity: 0.6;
}

.main-footer__logo[href]:active {
  opacity: 0.3;
}
.main-footer__user-nav,
.main-footer__site-nav,
.main-footer__socials {
  list-style: none;
}

.main-footer__user-nav {
  display: flex;
  margin-left: auto;
}

.user-nav-footer__item + .user-nav-footer__item {
  margin-left: 65px;
}

.user-nav-footer__link,
.site-nav-footer__link,
.socials-footer__link,
.main-footer__copy {
  color: rgba(255, 255, 255, 0.7);
}

.user-nav-footer__link--logout {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer__middle {
  margin-bottom: 60px;
  justify-content: space-between;
}

.main-footer__address {
  width: 260px;
}

.main-footer__site-nav {
  display: flex;
  width: 440px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.site-nav-footer__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.main-footer__bottom {
  position: relative;
}

.main-footer__bottom::before {
  content: "";
  width: 80px;
  height: 7px;
  align-self: flex-end;

  background-color: #ffc600;
}

.main-footer__phone {
  width: 180px;
  text-align: right;
}

.main-footer__socials {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.socials-footer__item {
  margin-left: 20px;
}

.user-nav-footer__link:focus,
.user-nav-footer__link:hover,
.site-nav-footer__link:focus,
.site-nav-footer__link:hover,
.socials-footer__link:focus,
.socials-footer__link:hover,
.main-footer__copy:focus,
.main-footer__copy:hover {
  color: rgba(255, 255, 255, 1);
}

.user-nav-footer__link:active,
.site-nav-footer__link:active,
.socials-footer__link:active,
.main-footer__copy:active {
  color: rgba(255, 255, 255, 0.3);
}

.modal {
  position: relative;
  width: 960px;

  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2)
}

.modal__feedback {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 90px 100px 80px;
}

.feedback-form__item {
  display: flex;
  flex-direction: column;
}

.feedback-form__item:first-of-type,
.feedback-form__item:nth-of-type(2) {
  width: 360px;
}

.feedback-form__item:last-of-type {
  width: 100%;
}

.feedback-form__label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0;
  color: #000000;
}

.feedback-form__input {
  width: 100%;
  padding: 16px 25px;
}

.feedback-form__textarea {
  padding: 15px 20px;
}

.feedback-form__input,
.feedback-form__textarea {
  background-color: rgba(229, 229, 229, 0.5);
  border: none;
}

.feedback-form__input:hover,
.feedback-form__textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.feedback-form__input:focus,
.feedback-form__textarea:focus {
  color: #000000;
  background-color: #ffffff;
  outline: 3px solid rgba(240, 197, 46, 0.5);
}

.feedback-form__input:not([value=""]):not(:focus):invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.feedback-form__input::-webkit-input-placeholder,
.feedback-form__textarea::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}
.feedback-form__input::-moz-placeholder,
.feedback-form__textarea::-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);
}
.feedback-form__input:-moz-placeholder,
.feedback-form__textarea:-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);
}
.feedback-form__input:-ms-input-placeholder,
.feedback-form__textarea:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal__close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;

  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  border: none;

  opacity: 0.5;
  cursor: pointer;
}

.modal__close:focus,
.modal__close:hover {
  opacity: 1;
}

.modal__close:active {
  opacity: 0.3;
}
